/* .category {
  padding: 48px 0px;
}

.category .row-1 {
  padding: 0 12px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.category .row-1 .category-title {
  text-align: left;
  font-size: 30px;
  font-family:"Nunito", sans-serif;
}

.category .row-1 .category-title .category-btn {
  text-align: right;
}


.category .item-category {
  background: #FFFFFF;
  border: 1px solid #FBFBFB;
  box-shadow: 0px 5px 22px rgba(0, 0, 0, 0.04);
  border-radius: 16px;
  text-align: center;
  padding: 60px 20px;
  margin: 0 14px;
  transition: box-shadow 0.3s ease-out, transform 0.3s ease-out;
}

.category .item-category:hover {
  transform: translate3d(0,-10px,0);
  box-shadow: 0px 21px 44px rgba(0, 0, 0, 0.08);
}

.alice-carousel__prev-btn,
.alice-carousel__next-btn {
    width: 38px;
    height: 38px;
    line-height: 38px;
    background: #F1F1F1;
    color: #222222;
    padding: 0;
    text-align: center;
    border-radius: 10px;
    border-color: transparent;
    margin:3px;
}
.alice-carousel__prev-btn:active,
.alice-carousel__next-btn:active {
    background: #ec9b22;
    border-color: transparent;

}
.alice-carousel__prev-btn:hover,
.alice-carousel__next-btn:hover {
  background: #FFC43F;
  border-color: transparent;
}
.alice-carousel__prev-btn:disabled,
.alice-carousel__next-btn:disabled {
  color: #ccc;
  background: #eaeaea;
  border-color: #eaeaea;
}
.btn-link {
  margin-right: 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  text-align: right;
  color: #787878;
  background: none;
  border: none;
}

.category .item-category .text-category {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #222222;
  margin-top: 20px;
  font-family:"Nunito", sans-serif;

} */