.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}

.footer span:first-child {
    font-weight: bold;
}

.footer span:last-child {
    font-size: 14px;
}