  .input-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    max-width: fit-content;
    padding: 10px;
    margin: 20px; 
  }

  /* .input-wrapper ::placeholder {
    color: #641717;
  }
  
  input:focus {
    outline: none;
  } */
  .input-wrapper input[type="text"] {
    border-radius: 40px 0 0 40px !important;
    width: 50vh;
    height: 45px;
    font-size: 17px;
  }
  .input-wrapper .search-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 45px;
    border: 1px solid #bfbfbf;
    border-radius: 0 40px 40px 0;
    background: #f4f4f4;
  }
  .search-icon {
    color: #6c6b6b;
  }

  